<div class=top-body>
<h1 class="top-title">ようこそ<span> Bookers</span> へ！</h1>
<p class= "top-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>

<p class= "top-text">印象を共有し交換することができます</p>
<a href="/books" class="top-start">start </a>
</div>